@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img{
    width: 100%;
}
a {
    text-decoration: none;
}
body, form, input, textarea {
    font-family: 'kanit', 'cascadia code';
    
}
h1 {
    font-weight: 700;
    font-size: 2.6rem;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    line-height: 110%;
    margin-bottom: 0.8rem;
}
h2 {
    font-size: 19px;
    font-weight: 400;
    color: #e79786;
    font-family: cascadia code;
    letter-spacing: 6px;
    padding: 0px 0px 20px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .6px;
}
p {
    line-height: 25px;
    font-size: 18px;
    opacity:70%;
}
section {
    padding: 5rem 9%;
}
html {
    font-size: 72%;
    overflow-x: hidden;
  }

/*nav-bar*/
.nav-content {
    font-size: 17px;
    text-decoration: none;
    margin: -2px;
    color: black;
    font-family: kanit;
    padding-right: 29px;
    font-weight: 300;
    margin-right: 2px;
}
a.navbar-brand.ms-3 {
    width: 12rem;
}
.bg{
    background-color: #edf6ff;; 
}
.navbar{
    padding: 0;

}
.navbar-toggler:focus{
    box-shadow: none;
}
button.navbar-toggler.me-3 {
    box-shadow: none;
}
@media (max-width:768px){
    
}
nav .nav-content a:hover{
    color: #d2e00f !important;
}


/*hero-section*/
section.hero {
    background-color: #edf6ff;
    padding-top: 33px;
    padding-bottom: 33px;
}


/*pictures*/
section#likes {
    background-color: #edf6ff;
    padding: 55px;
    padding-top: 85px;
    padding-bottom: 60px;
}
.likes-section h2 {
    font-size: 19px;
    font-weight: 400;
    color: #e79786;
    font-family: cascadia code;
    letter-spacing: 6px;
    padding: 0px 0px 20px;
    text-align: center;
}
.item img{
    height: 280px;
}

/*video-gallery*/
section.vid-gallery {
    background: #edf6ff;
}
.vid-gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
} 
.vid-gallery .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    background: #1a1a1a;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
} 
.vid-gallery .box-container .box:hover .image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.vid-gallery .box-container .box .image {
    height: 25rem;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
} 
.vid-gallery .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.vid-gallery .box-container .box .content-1 .icons {
    position: relative;
    top: -1rem;
    border-radius: .5rem;
    padding: 1.5rem;
    display: inline-block;
    background: #0d0d0d;
}
.vid-gallery .box-container .box .content-1 .icons a {
    font-size: 1.4rem;
    margin: 0 1rem;
    color: #fff;
}
.vid-gallery .box-container .box .content-1 .icons a:hover {
    color: crimson;
} 
.vid-gallery .box-container .box .content-1 .icons a i {
    padding-right: .5rem;
    color: crimson;
} 
.vid-gallery .box-container .box .content-1 h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: normal;
} 
.vid-gallery .box-container .box .content-1 p {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
}
.content-1 {
    padding-top: 18px;
}
.title-1 {
    text-align: center;
    padding-bottom: 20px;
}
.title-1 h2{
    font-size: 19px;
    font-weight: 400;
    color: #e79786;
    font-family: cascadia code;
    letter-spacing: 6px;
    padding: 0px 0px 20px;
}
.btn-1 {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: crimson;
    padding: .7rem;
    font-size: 1.7rem;
    color: #fff;
    padding-left: 2rem;
    text-decoration: none;   
}
.btn-1 i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #fff;
    color: crimson;
    border-radius: 50%;
    margin-left: 1rem;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.btn-1:hover i {
    margin-left: 2rem;
}

/*responsive*/
@media(max-width: 767px){
    .vid-gallery .box-container{
        height: 60px;
        width: 60px;
    }
    .vid-gallery .box-container .box .content h3{
        font-size: 45px;
    }
    .vid-gallery .box-container .box .content p {
        font-size: 22px;
    }
  }
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}

/*contact form*/
section.contact {
    padding-bottom: 50px;
}
.contact{
    background-color: #edf6ff;
}
.form-area {
	padding-top: 7%;
}
.container {
    padding-bottom: 19px;
}
.row.single-form {
    box-shadow: 0 2px 20px -5px rgb(0 0 0 / 50%);
    background-color: #58c6ce24;
    border-radius: 2.6rem;
}
.left {
    background: #fcdaeba6;
    padding: 200px 87px;
    border-radius: 2.6rem;
}
.left h1 {
    font-weight: 700;
    font-size: 2.6rem;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    line-height: 110%;
    margin-bottom: 0.8rem;
}
.left img {
    width: 50%;
}
.single-form{
    background: #fff;
    
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
    font-family: consolas;
    font-size: 15px;
    background-color: #4766684a;
}
.right button {
	border: none;
	background-color: #fd7cda;
	width: 180px;
	color: #fff;
	padding: 11px 19px;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
    font-family: Cascadia Code;
    text-transform: lowercase;
    border-radius: 0.6rem;
    width: 113px;
}
.right button:hover{
    background-color: #ff9de5d0;
    transform: scale(1.3);
    z-index: 2;
    opacity: 100%;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}

/*footer*/
footer.p-2.text-center {
    background-color: #669accbd;
}
footer span {
    color: brown;
    font-weight: bold;
}
.container h4 {
    font-size: 17px;
    padding-top: 27px;
}